<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Moments
    </ion-title>
    <ion-buttons slot="end" collapse="condense">
      <ion-button>
        <ion-icon name="search" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Moments</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="search" color="dark"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngFor="let day of days">
    <h1 class="header">{{ day.title }}</h1>
    <ion-card *ngFor="let moment of day.moments">
      <ion-card-content>
        <span class="{{ section.type }}" *ngFor="let section of moment.sections">
          {{ section.text }}
        </span>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <!-- add new moment -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="pencil"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
